.DS_Store
backend/main
backend/tmp/
backend/tmp/main
backend/.serverless/blogBackend.zip
backend/.serverless/cloudformation-template-create-stack.json
backend/.serverless/serverless-state.json
backend/.serverless/cloudformation-template-update-stack.json
backend/bin/blogbackend/main
backend/main
backend/tmp/build-errors.log
backend/main
tmp/build-errors.log
